[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
locust = "*"
neomodel = {git = "git+https://github.com/neo4j-contrib/neomodel.git", ref = "task/async"} #egg=package-name


[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn api.endpoints:app --reload"
locust = "locust -f locustfile.py -H http://localhost:8000 -t 10s"
